html, body {
	padding: 0px;
	margin: 0px 0px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#loader {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
	z-index: 99999;
	background-color: #FFF;
	text-align: center;
}
#loader img {
	display: block;
	margin: 0px auto;
	max-width: 100%;
}
#loader div.spinner {
	border: 15px solid #0000;
	border-top: 15px solid #000;
	width: 75px;
	height: 75px;
	border-radius: 75px;
	display: block;
	margin: 0px auto;
	animation: girar 0.5s linear infinite;
	max-width: 100%;
}
@keyframes girar {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
#subLoader {
	opacity: 0;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
#barraFerramentas {
	top: 0px;
	border-bottom: 1px solid #AAA;
}
div.barraGUI {
	position: fixed;
	background-color: #DDD;
	width: 100%;
	height: auto;
	padding: 0px;
	z-index: 99999;
	-moz-user-select: none;
	-webkit-user-select: none;
}
div.barraGUI span {
	display: block;
	margin: 0px 16px 0px 0px;
	border-left: 8px solid #BBB;
	float: left;
}
div.barraGUI a.botao {
	width: 28px;
	height: 28px;
	margin: 1px;
	padding: 0px;
	display: inline-block;
	font-size: 20px;
	overflow: hidden;
	background-color: #DDD;
	border: 1px solid #AAA;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}
div.barraGUI a.botao:hover {
	background-color: #CCC;
}
div.barraGUI a.botao:active {
	background-color: #FDD;
}
div.barraGUI a.botao[selecionado] {
	background-color: #FFF;
}
div.barraGUI a.botao img {
	width: 100%;
}
div.barraGUI a.botao img.nota_botao {
	margin: -45px 0px;
}
div.barraGUI a.botao img.pausa_botao {
	margin: -40px 0px;
}
div.barraGUI hr {
	width: 0px;
	border: 1px inset #CCC;
	height: 26px;
	margin: 2px 6px;
	display: inline-block;
	vertical-align: top;
}
div.barraGUI p {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
#partitura {
	padding: 100px 50px;
	display: flex;
	flex-wrap: wrap;
	background-image: url('fundo.jpg');
	background-repeat: repeat;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.2);
	margin: 50px auto;
	align-items: flex-start;
	align-content: flex-start;
	transform-style: preserve-3d;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#partitura * {
	-moz-user-select: none;
	-webkit-user-select: none;
}
#partitura img {
	pointer-events: none;
}
div.sistema {
	display: block;
	white-space: nowrap;
}
div.pauta_nome {
	margin: 50px 10px;
	padding: 0px;
	height: 41px;
	display: block;
	text-align: right;
}
div.pauta {
	margin: 20px 0px;
	padding: 0px;
	width: 100%;
	white-space: nowrap;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	align-content: flex-start;
	overflow: visible;
}
div.compassoGrade {
	flex-grow: 2;
	border-right: 1px solid #DDD;
}
div.compasso {
	background-image: url("partitura/partitura_pauta.png");
	background-repeat: repeat-x;
	border-right: 1px solid #000;
	margin: 50px 0px;
	padding: 0px 7px 0px 2px;
	display: block;
	min-width: 75px;
	height: 41px;
	flex-grow: 1;
}
div.compasso_pausa {
	text-align: center;
}
div.compasso.compasso_inicio {
	border-left: 4px solid #000;
}
div.compasso.compasso_fim {
	border-right: 4px solid #000;
}
div.compasso[selecionado] {
	/*Os efeitos abaixo funcionam, mas no NODE.JS não. :/
	box-shadow: inset 0px 0px 1px 50px #88F3;
	border: 1px solid #88F;*/
	background-image: url("partitura/fx_selecao.png");
	background-repeat: repeat;
}
div.compasso img.clave {
	margin: -11px 2px -16px;
	vertical-align: top;
	float: left;
}
div.compasso img.figura {
	position: relative;
	margin: -60px -5px;
	width: 36px;
}
div.compasso img.figura:hover {
	filter: invert(50%);
}
div.compasso img.figura.ls {
	background-image: url("partitura/partitura_pauta.png");
	background-repeat: no-repeat;
}
div.compasso img.figura.ls.inf0 {
	background-position: center 8px;
}
div.compasso img.figura.ls.inf1 {
	background-position: center 13px;
}
div.compasso img.figura.ls.sup0 {
	background-position: center 58px;
}
div.compasso img.figura.ls.sup1 {
	background-position: center 53px;
}
div.formulaCompasso {
	height: 41px;
	width: 30px;
	overflow: visible;
	text-align: center;
	vertical-align: top;
	float: left;
}
div.formulaCompasso img {
	position: relative;
	margin: -55px -5px;
	display: block;
	width: 36px;
}
div.formulaCompasso img.temposCompasso {
	top: 21px;
}
div.formulaCompasso img.temposSemibreve {
	top: -11px;
}
div.menuDeContexto {
	background-color: #DDD;
	position: absolute;
	box-shadow: 0px 5px 3px 0px #0006;
	border: 1px solid #AAA;
}
div.menuDeContexto a {
	display: block;
	padding: 2px 15px 2px 5px;
	text-decoration: none;
	color: #000;
	white-space: nowrap;
	cursor: pointer;
}
div.menuDeContexto a:hover {
	background-color: #CCC;
}
div.menuDeContexto hr {
	margin: 2px;
}
#GUIEscritaManual {
	display: block;
	position: absolute;
	height: 115px;
	margin: -37px 0px;
}
#GUIEscritaManual div.area {
	height: 5px;
	overflow: visible;
}
#GUIEscritaManual div.area img {
	margin: -55px -5px;
	width: 36px;
	opacity: 0;
	position: relative;
	top: -13px;
	pointer-events: none;
	filter: url(#azul);
}
#GUIEscritaManual div.area:hover img {
	opacity: 1;
}
#paleta_escManual {
	bottom: 0px;
	border-top: 1px solid #AAA;
}
#GUIJanelaModal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: url("partitura/fx_modal.png");
	background-repeat: repeat;
	vertical-align: middle;
	text-align: center;
	z-index: 100;
}
#GUIJanelaModal_janela {
	box-shadow: 0px 0px 15px 5px #0006;
	padding: 0px;
	background-color: #DDD;
	border: 1px solid #AAA;
	display: inline-block;
	margin: 5%;
	text-align: left;
	position: relative;
	top: -100px;
	z-index: 200;
	animation: modal 0.1s ease-out forwards;
	max-height: 75%;
	overflow: auto;
}
@keyframes modal {
	0% { top: -100px; }
	100% { top: 0px; }
}
#GUIJanelaModal_janela span.titulo {
	display: block;
	position: relative;
	z-index: 300;
	background-color: #CCC;
	font-weight: bold;
	padding: 5px 15px;
}
#GUIJanelaModal_janela p {
	margin: 10px;
}
#GUIJanelaModal_janela a.botao {
	margin: 1px;
	padding: 2px 5px;
	display: inline-block;
	background-color: #DDD;
	border: 1px solid #AAA;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
#GUIJanelaModal_janela a.destaque {
	border: 1px solid #080;
	background-color: #DED;
}
#GUIJanelaModal_janela a.botao:hover {
	background-color: #CCC;
}
#GUIJanelaModal_janela a.destaque:hover {
	background-color: #CDC;
}
#GUIJanelaModal_janela a.botao:active {
	background-color: #FDD;
}
#GUIJanelaModal_janela a.botao[selecionado] {
	background-color: #FFF;
}
#GUIJanelaModal_janela p.botoes_base {
	display: block;
	margin: 0px;
	text-align: center;
	width: 100%;
}
#GUIJanelaModal_janela p.botoes_base>a.botao {
	margin: 1px 3px;
}
#GUIJanelaModal_janela hr {
	width: 0px;
	border: 1px inset #CCC;
	height: 26px;
	margin: 2px 6px;
	display: inline-block;
	vertical-align: top;
}
#GUIJanelaModal_janela input {
	padding: 2px;
}
#GUIJanelaModal_janela input[type='number'] {
	width: 30px;
}
div.GUIBarraRolagem {
	background-color: #F8F8F8;
	position: fixed;
	z-index: 99990;
}
div.GUIBarraRolagem div.botao {
	width: 20px;
	height: 20px;
	background-color: #DDD;
	position: fixed;
	text-align: center;
	z-index: 99995;
}
div.GUIBarraRolagem div.barra {
	background-color: #BBB;
	min-width: 20px;
	min-height: 20px;
	position: fixed;
	z-index: 99994;
}
div.GUIBarraRolagem.ladoV {
	top: 0px;
	right: 0px;
	width: 20px;
	height: 100%;
}
div.GUIBarraRolagem.ladoH {
	left: 0px;
	width: calc(100% - 20px);
	height: 20px;
}
div.GUIBarraRolagem.ladoV div.botao {
	right: 0px;
}
div.GUIBarraRolagem.ladoH div.botao:first-of-type {
	left: 0px;
}
div.GUIBarraRolagem.ladoH div.botao:last-of-type {
	right: 20px;
}
svg.esconder {
	width: 0px;
	height: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}